* {
    padding: 0;
    margin: 0;
}

#header {
    grid-column: 1 / 4;
    text-align: center;
}

.book_cards_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    gap: 50px; 
    padding: 20px;
}

.book_cards {
    border: 2px solid black;
    padding: 20px;
}